<%= simple_form_for @restaurant do |form| %>
  <%= form.simple_fields_for :reviews, restaurant.reviews.build do |review_form| %>
    <div class="form-group mb-3">
      <%= review_form.label :content, "Review Content", class: 'form-label' %>
      <%= review_form.text_area :content, class: 'form-control p-2' %>
    </div>

    <div class="form-group mb-3">
      <%= review_form.label :rating, "Rating", class: 'form-label' %>
      <%= review_form.number_field :rating, in: 0..5, class: 'form-control p-2' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
  </div>
<% end %>
