<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

<div class="container">
  <h1 style="text-align: center; color: #333; font-family: 'Roboto Slab', serif; font-size: 3em;"><%= @restaurant.name %></h1>
  <p style="font-size: 1.5em; font-family: 'Roboto Slab', serif;"><%= @restaurant.content %></p>

  <div style="text-align: center; margin-bottom: 20px;">
    <%= link_to 'Back to the list', restaurants_path, class: 'btn btn-success', style: 'margin-right: 10px;' %>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-secondary', style: 'margin-right: 10px;' %>
    <%= link_to 'Delete', @restaurant, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
  </div>
</div>


<!-- You can move the following CSS into your application's stylesheet -->
<style>
  .restaurant-name {
    text-align: center;
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
  }
  .restaurant-content {
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
  }
  .restaurant-rating {
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    text-align: center;
  }
  .action-buttons {
    text-align: center;
    margin-bottom: 20px;
  }
</style>
